<form [formGroup]="imageTranslateForm" @fadeIn>
  <!-- <h6 class="mb-5">{{ "translate.photo" | transloco }}</h6> -->
  <div
    class="d-flex align-items-center justify-content-between flex-wrap gap-3"
  >
    <div class="d-flex align-items-center justify-content-start">
      <!-- <select
        id="languageSourceSelect"
        (change)="selectSourceLanguage()"
        class="form-select product-selection c-p shadow-none mx-w-15"
        aria-label="Large select example"
        [(ngModel)]="selectedSourceLanguage"
        [ngModelOptions]="{ standalone: true }"
        [ngClass]="{
          'error-text': sourceLanguageNotSelected && selectedSourceLanguage === '0',
          'selected-language-active':
            selectedSourceLanguage && (selectedSourceLanguage !== '0' && selectedSourceLanguage !== '1' && selectedSourceLanguage !== '2')
        }"
        required
      >
        <option selected value="0" disabled>
          {{ "translate.language-main" | transloco }}
        </option>
        <option *ngFor="let language of languages" [value]="language.id">
          {{
            this._transloco.getActiveLang() == "ge"
              ? language.nameGeo
              : language.name
          }}
        </option>
      </select> -->
      <button
        mat-icon-button
        [matMenuTriggerFor]="smenu"
        aria-label="Example icon-button with a menu"
        class="position-relative"
      >
        <mat-icon class="mb-1">expand_more</mat-icon>
      </button>
      <mat-menu class="max-height-6" #smenu="matMenu" xPosition="after">
        <button
          mat-menu-item
          *ngFor="let language of languages"
          [value]="language.id"
          (click)="selectSourceLanguage(language)"
        >
          <span>{{
            this._transloco.getActiveLang() == "ge"
              ? language.nameGeo
              : language.name
          }}</span>
        </button>
      </mat-menu>
      <div
        @fadeIn
        *ngIf="selectedSourceOther"
        class="language-tr-div"
        [ngClass]="{
          'selected-language-active':
            selectedSourceLanguageID && (selectedSourceLanguageID !== '0' && selectedSourceLanguageID !== '1' && selectedSourceLanguageID !== '2'),
          'selected-lanp-active': selectedSourceOther
        }"
      >
        <p>{{
          this._transloco.getActiveLang() == "ge"
            ? this.selectedSourceLanguage.nameGeo
            : this.selectedSourceLanguage.name
        }}</p>
      </div>
      <div
        class="language-tr-div"
        (click)="chooseSourceGe()"
        [ngClass]="[selectedSourceGEO ? 'selected-lanp-active' : '']"
      >
        <p>{{ "languages.ge" | transloco }}</p>
      </div>
      <div
        class="language-tr-div"
        (click)="chooseSourceEn()"
        [ngClass]="selectedSourceENG ? 'selected-lanp-active' : ''"
      >
        <p>{{ "languages.en" | transloco }}</p>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-end">
      <div
        class="language-tr-div"
        (click)="chooseGe()"
        [ngClass]="selectedGEO ? 'selected-lanp-active' : ''"
      >
        <p>{{ "languages.ge" | transloco }}</p>
      </div>
      <div
        class="language-tr-div"
        (click)="chooseEn()"
        [ngClass]="selectedENG ? 'selected-lanp-active' : ''"
      >
        <p>{{ "languages.en" | transloco }}</p>
      </div>
      <div
        @fadeIn
        *ngIf="selectedOther"
        class="language-tr-div"
        [ngClass]="selectedOther ? 'selected-lanp-active' : ''"
      >
        <p>{{
          this._transloco.getActiveLang() == "ge"
            ? this.selectedLanguage.nameGeo
            : this.selectedLanguage.name
        }}</p>
      </div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        class="position-relative"
      >
        <mat-icon class="mb-1">expand_more</mat-icon>
      </button>
      <mat-menu class="max-height-6" #menu="matMenu" xPosition="before">
        <button
          mat-menu-item
          *ngFor="let language of languages"
          [value]="language.id"
          (click)="selectLanguage(language)"
        >
          <span>{{
            this._transloco.getActiveLang() == "ge"
              ? language.nameGeo
              : language.name
          }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="image-container mb-5 d-flex">
    <div
      class="image-input"
      (dragover)="changeBack()"
      (dragleave)="changeBackLeave()"
      [ngClass]="[divStyle]"
    >
      <div class="text-center drag-drop-container">
        <p class="p-0 m-0">
          <i class="bi bi-cloud-arrow-up-fill"></i><br /><span
            [innerHTML]="text"
          ></span>
        </p>
      </div>
      <input
        type="file"
        formControlName="files"
        class="translate-img"
        (change)="getImage($event)"
        accept=".png, .jpeg, .webp, .gif"
        #myFileInput
        multiple
      />
    </div>
    <div
      class="image-preview with-m d-flex align-items-center flex-column overflow-y-auto"
      *ngIf="!translatedText && !isLoading"
    >
      <div
        *ngFor="let file of files; let index = index"
        class="file-div position-relative"
      >
        <p class="c-p file-name-text">
          <i class="bi bi-file-earmark-check-fill text-muted fs-5 me-2"></i
          >{{ file.name }}
        </p>
        <i
          class="bi bi-x-octagon position-absolute"
          (click)="deleteImage(index)"
        ></i>
      </div>

      <p *ngIf="!files">{{ "translate.empty-photo" | transloco }}</p>
      <small class="text-muted text-center">{{
        "translate.format-img" | transloco
      }}</small>
    </div>
    <div
      class="image-preview d-flex align-items-center justify-content-center flex-column position-relative"
      *ngIf="translatedText"
      [ngClass]="translatedText ? 'w-100' : ''"
    >
      <i class="bi bi-copy text-muted" (click)="copyToClipboard()"></i>
      <i class="bi bi-download text-muted" (click)="downloadAsWord()"></i>
      <p
        class="px-2 pb-0 pt-2 m-0 overflow-y-scroll"
        #generatedResponse
        [innerHTML]="translatedText"
      ></p>
    </div>
    <div
      class="image-preview d-flex align-items-center justify-content-center flex-column"
      *ngIf="isLoading"
      [ngClass]="isLoading ? 'w-100' : ''"
    >
      <!-- <span class="loader-image-text"></span> -->
      <div class="pr-container my-1">
        <div class="progress-bar__container">
          <div class="progress-bar" #progressBar></div>
        </div>
      </div>
      <span class="progress-text mt-3 fw-bold slk-color"
        >{{ currentText }} {{ currentPercentage }}%</span
      >
    </div>
  </div>
  <!-- <span class="c-p slk-color" (click)="onText()">{{
    "tr-text-btn" | transloco
  }}</span> -->
  <!-- <div class="d-flex align-items-center justify-content-center gap-3"> -->
  <!-- <div class="text-center">
      <div class="btn-group dropup-center dropup">
        <button
          type="button"
          class="content-btn"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-cloud-arrow-up"></i>
          {{ "attach-file" | transloco }}
        </button>
        <ul class="dropdown-menu">
          <li (click)="onImage()">
            <span class="dropdown-item c-p">{{
              "translate.photo" | transloco
            }}</span>
          </li>
          <li (click)="onDoc()">
            <span class="dropdown-item c-p">{{
              "translate.document" | transloco
            }}</span>
          </li>
        </ul>
      </div>
    </div> -->
  <div class="text-center">
    <button class="button content-btn" (click)="sendImages()">
      <span class="button-content">{{
        "translate.translate" | transloco
      }}</span>
    </button>
  </div>
  <!-- </div> -->
</form>
