<div class="content-component px-md-5 px-sm-1 pb-5">
  <app-greeting
    [title]="'sidebar.description' | transloco"
    [description1]="'description.des' | transloco"
  ></app-greeting>
  <div class="container">
    <form [formGroup]="chatForm" (ngSubmit)="sendText()" class="mb-5">
      <div
        class="input-search-container d-flex align-items-center justify-content-center flex-wrap flex-md-nowrap"
      >
        <div
          class="search-text-ctg d-flex align-items-center"

        >
          <input
            type="text"
            [placeholder]="'productname' | transloco"
            formControlName="text"
            [ngClass]="{
              'error-place':
                chatForm.get('text')?.invalid &&
                (chatForm.get('text')?.touched ||
                  chatForm.get('text')?.dirty ||
                  notProductName)
            }"
            class="flex-grow-1"
          />
          <div class="px-2 h-100" [style]="!isSmallScreen ? 'width: 220px' : ''">
            <mat-select
              [placeholder]="'description.category' | transloco"
              #singleSelect
              class="h-100"
              (selectionChange)="onCategorySelection($event)"
              [ngClass]="{'ctg': notSelectedCategory}"
            >
              <mat-option>
                <ngx-mat-select-search
                  [placeholderLabel]="'search' | transloco"
                  formControlName="category"
                ></ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let category of filterOptions | async"
                [value]="category.id"
                class="px-2"
              >
                {{ this._transloco.getActiveLang() == "ge" ? category.name : category.nameEng }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="ms-md-2 ms-sm-0 mt-4 mt-md-0 text-center">
          <button
            type="submit"
            class="content-btn mx-auto d-flex gap-2 px-4"
            [title]="'send' | transloco"
          >
            <span>{{ "send" | transloco }}</span
            ><i class="bi bi-send-fill"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="response-container" *ngIf="responseText">
      <h5>{{ selectedCategoryName }}: {{ userMessageText }}</h5>
      <hr />
      <div class="text-end">
        <i
          class="bi bi-copy"
          title="Copy to clipboard"
          (click)="copyToClipboard()"
        ></i>
      </div>
      <p #generatedResponse [innerHTML]="responseText"></p>
    </div>
    <div class="generator-loader-container text-center" *ngIf="isLoading">
      <div class="loader-generator mx-auto"></div>
    </div>
  </div>
</div>
