<div class="content-component">
    <div class="description-container">
      <div class="header">
        <h3>Description</h3>
        <hr>
      </div>
      <div class="chat-container">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur eligendi aut modi quisquam placeat sit dignissimos eius ab dolores, sed facere nemo veniam libero quasi voluptas veritatis, corrupti mollitia?</h1>
      </div>
      <div class="input-container">
        <textarea name="" id=""></textarea>
      </div>
    </div>
</div>
