<form [formGroup]="chatForm" @fadeIn>
  <h6 class="mb-5">{{ "translate.text" | transloco }}</h6>
  <div class="translate-container row">
    <div class="col-12 col-lg-6">
      <div class="language-tr-div">
        <p class="l-d auto-language">
          {{ "translate.language-detection" | transloco }}
        </p>
      </div>
      <!-- <select
        id="languageSourceSelect"
        (change)="onInput($event)"
        class="form-select product-selection c-p shadow-none my-3"
        aria-label="Large select example"
        [(ngModel)]="selectedSourceLanguage"
        [ngModelOptions]="{ standalone: true }"
        [ngClass]="{
          'select-error':
            sourceLanguageNotSelected && selectedSourceLanguage === '0'
        }"
        required
      >
        <option selected value="0" disabled>
          {{ "translate.language-main" | transloco }}
        </option>
        <option *ngFor="let language of sourceLanguages" [value]="language.id">
          {{
            this._transloco.getActiveLang() == "ge"
              ? language.nameGeo
              : language.name
          }}
        </option>
      </select> -->
      <div class="translate-content">
        <textarea
          #textareaElement
          class="form-control shadow-none"
          [placeholder]="'translate.text-to-be-translated' | transloco"
          [maxlength]="maxChars"
          formControlName="text"
          (input)="updateTextareaContent($event)"
          (input)="adjustTextareaHeight()"
          (input)="onInput($event)"
          id="floatingTextarea2"
        ></textarea>
        <div class="text-end pe-3 pb-2">
          <small class="chars text-muted"
            >{{ textareaContent.length }}/{{ maxChars }}</small
          >
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="d-flex align-items-center justify-content-end">
        <div
          class="language-tr-div"
          (click)="chooseGe()"
          [ngClass]="selectedGEO ? 'selected-lanp-active' : ''"
        >
          <p>{{ "languages.ge" | transloco }}</p>
        </div>
        <div
          class="language-tr-div"
          (click)="chooseEn()"
          [ngClass]="selectedENG ? 'selected-lanp-active' : ''"
        >
          <p>{{ "languages.en" | transloco }}</p>
        </div>
        <select
          id="languageSelect"
          (change)="onInput($event)"
          class="form-select product-selection c-p shadow-none mx-w-15"
          aria-label="Large select example"
          [(ngModel)]="selectedLanguage"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="{
            'error-text': languageNotSelected && selectedLanguage === '0',
            'selected-language-active':
              selectedLanguage && (selectedLanguage !== '0' && selectedLanguage !== '1' && selectedLanguage !== '2')
          }"
          required
        >
          <option selected value="0" disabled>
            {{ "translate.language-options" | transloco }}
          </option>
          <option *ngFor="let language of languages" [value]="language.id">
            {{
              this._transloco.getActiveLang() == "ge"
                ? language.nameGeo
                : language.name
            }}
          </option>
        </select>
      </div>
      <div class="translated-content p-2">
        <div class="translated-div">
          <div class="loader" *ngIf="isLoading"></div>
          <p
            *ngIf="!isLoading"
            [innerHTML]="translatedText"
            class="pe-3"
            #generatedResponse
          ></p>
        </div>
        <i
          *ngIf="copyBtn"
          class="bi bi-copy text-muted"
          (click)="copyToClipboard()"
        ></i>
      </div>
    </div>
  </div>
  <div class="text-center py-5">
    <div class="btn-group dropup-center dropup">
      <button
        type="button"
        class="content-btn"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-cloud-arrow-up"></i>
        {{ "attach-file" | transloco }}
      </button>
      <ul class="dropdown-menu">
        <li (click)="onImage()">
          <span class="dropdown-item c-p">{{
            "translate.photo" | transloco
          }}</span>
        </li>
        <li (click)="onDoc()">
          <span class="dropdown-item c-p">{{
            "translate.document" | transloco
          }}</span>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="text-center py-5">
    <button class="button content-btn" (click)="sendText()">
      <span class="button-content">{{
        "translate.translate" | transloco
      }}</span>
    </button>
  </div> -->
</form>
