.loader {
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  background: radial-gradient(circle closest-side, #3d3a4e 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "სულიკო თარგმნის...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #3b59f3);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}

.language-tr-div {
  p {
    margin: 0;
    padding: 0.75rem 1rem;
    background-color: rgb(243, 243, 243);
    border-bottom: 2px solid blue;
    display: inline-block;
    cursor: pointer;
  }
  p.l-d {
    margin-left: 10px;
  }
}

#languageSelect {
  padding: 0.75rem 1rem;
  margin-right: 10px;
  border-bottom: 2px solid blue !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
