<form [formGroup]="chatForm" @fadeIn>
  <!-- <h6 class="mb-5">{{ "translate.text" | transloco }}</h6> -->
  <div class="translate-container row mb-5">
    <div class="col-12 col-lg-6">
      <div class="language-tr-div">
        <p class="l-d auto-language">
          {{ "translate.language-detection" | transloco }}
        </p>
      </div>
      <div class="translate-content d-flex flex-column">
        <textarea
          #textareaElement
          class="form-control shadow-none flex-grow-1"
          [placeholder]="'translate.text-to-be-translated' | transloco"
          [maxlength]="maxChars"
          formControlName="text"
          (input)="updateTextareaContent($event)"
          (input)="adjustTextareaHeight()"
          (input)="onInput($event)"
          id="floatingTextarea2"
        ></textarea>
        <div class="text-end pe-3 pb-2">
          <small class="chars text-muted"
            >{{ textareaContent.length }}/{{ maxChars }}</small
          >
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="d-flex align-items-center justify-content-end">
        <div
          class="language-tr-div"
          (click)="chooseGe()"
          [ngClass]="selectedGEO ? 'selected-lanp-active' : ''"
        >
          <p>{{ "languages.ge" | transloco }}</p>
        </div>
        <div
          class="language-tr-div"
          (click)="chooseEn()"
          [ngClass]="selectedENG ? 'selected-lanp-active' : ''"
        >
          <p>{{ "languages.en" | transloco }}</p>
        </div>
        <div
          @fadeIn
          *ngIf="selectedOther"
          class="language-tr-div"
          [ngClass]="selectedOther ? 'selected-lanp-active' : ''"
        >
          <p>
            {{
              this._transloco.getActiveLang() == "ge"
                ? this.selectedLanguage.nameGeo
                : this.selectedLanguage.name
            }}
          </p>
        </div>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
          class="position-relative"
        >
          <mat-icon class="mb-1">expand_more</mat-icon>
        </button>
        <mat-menu class="max-height-6" #menu="matMenu" xPosition="before">
          <button
            mat-menu-item
            *ngFor="let language of languages"
            [value]="language.id"
            (click)="selectLanguage(language)"
          >
            <span>{{
              this._transloco.getActiveLang() == "ge"
                ? language.nameGeo
                : language.name
            }}</span>
          </button>
        </mat-menu>
      </div>
      <div class="translated-content p-2 position-relative">
        <div class="translated-div">
          <div class="check-original lh-1 pb-2" *ngIf="toggleOriginBtn">
            <span class="check-original-text text-uppercase" (click)="toggleTextView()">
              {{ toggleOrigin ? 'Check Enhanced' : 'Check Original' }}
            </span>
          </div>
          <div class="loader" *ngIf="isLoading">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <p
            *ngIf="!isLoading"
            [innerHTML]="translatedText || originalText"
            class="pe-3 text-break"
            #generatedResponse
          ></p>
        </div>
        <i
          *ngIf="copyBtn"
          class="bi bi-copy text-muted"
          (click)="copyToClipboard()"
        ></i>
      </div>
    </div>
  </div>
  <div class="text-center py-5" *ngIf="enhanceBtn">
    <button class="button content-btn" [disabled]="enhanceBtnDisable" [class.disabled_enhance]="enhanceBtnDisable" (click)="enhanceTranslation()">
      <span class="button-content">{{ "translate.enhance" | transloco }}</span>
    </button>
  </div>
</form>
