<form [formGroup]="chatForm">
  <div class="translate-container row">
    <div class="col-12 col-lg-6">
        <select
        id="languageSourceSelect"
        (change)="onInput($event)"
        class="form-select product-selection c-p shadow-none my-3"
        aria-label="Large select example"
        [(ngModel)]="selectedSourceLanguage"
        [ngModelOptions]="{ standalone: true }"
        [ngClass]="{'select-error': sourceLanguageNotSelected && selectedSourceLanguage === '0'}"
        required
      >
      <option selected value="0" disabled>{{ 'translate.language-main' | transloco }}</option>
        <option
          *ngFor="let language of sourceLanguages"
          [value]="language.id"
        >
        {{ this._transloco.getActiveLang() == 'ge' ? language.nameGeo : language.name }}
        </option>
      </select>
      <div class="translate-content">
        <textarea
          #textareaElement
          class="form-control shadow-none"
          [placeholder]="'translate.text-to-be-translated' | transloco"
          [maxlength]="maxChars"
          formControlName="text"
          (input)="updateTextareaContent($event)"
          (input)="adjustTextareaHeight()"
          (input)="onInput($event)"
          id="floatingTextarea2"
        ></textarea>
        <div class="text-end pe-3 pb-2">
          <small class="chars text-muted"
            >{{ textareaContent.length }}/{{ maxChars }}</small
          >
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="py-3">
        <select
          id="languageSelect"
          (change)="onInput($event)"
          class="form-select product-selection c-p shadow-none ms-auto"
          aria-label="Large select example"
          [(ngModel)]="selectedLanguage"
          [ngModelOptions]="{ standalone: true }"
          [ngClass]="{'select-error': languageNotSelected && selectedLanguage === '0'}"
          required
        >
          <option selected value="0" disabled>
            {{ "translate.language-options" | transloco }}
          </option>
          <option *ngFor="let language of languages" [value]="language.id">
            {{
              this._transloco.getActiveLang() == "ge"
                ? language.nameGeo
                : language.name
            }}
          </option>
        </select>
      </div>
      <div class="translated-content p-2">
        <div class="translated-div">
          <div class="loader" *ngIf="isLoading"></div>
          <p
            *ngIf="!isLoading"
            [innerHTML]="translatedText"
            class="pe-3"
            #generatedResponse
          ></p>
        </div>
        <i
          *ngIf="copyBtn"
          class="bi bi-copy text-muted"
          (click)="copyToClipboard()"
        ></i>
      </div>
    </div>
  </div>
  <!-- <div class="text-center py-5">
    <button class="button content-btn" (click)="sendText()">
      <span class="button-content">{{
        "translate.translate" | transloco
      }}</span>
    </button>
  </div> -->
</form>
