.loader {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 15px;
  background-color: #3b5af380;
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #3b59f3;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

.check-original-text {
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  color: #3b59f3;
}

.disabled_enhance {
  cursor: not-allowed;
  background-color: #3b5af380;
}
