<div
  class="bg-white d-flex align-items-center justify-content-between px-2 py-2"
>
  <i
    title="Sidebar"
    class="bi bi-layout-sidebar-inset-reverse fs-5 text-muted ms-2 c-p"
    (click)="toggleSidebar()"
  ></i>
  <div class="d-flex align-items-center justify-content-between">
    <div class="sound">
      <div class="main" (click)="dropdownOpen()">
        <img [src]="selectedLanguage.path" alt="language" />
      </div>
      <div class="content pt-2" *ngIf="contentDropdown">
        <ul>
          <li
            class="mb-2"
            *ngFor="let icon of filteredIcons()"
            (click)="changeLanguage(icon)"
          >
            <img [src]="icon.path" alt="Language" />
          </li>
        </ul>
      </div>
    </div>
    <div
      class="d-flex align-items-center justify-content-center gap-2 ms-4"
      *ngIf="isLoggedIn"
    >
      <img
        src="../../../../assets/images/sidebar_icons/profile_photo.svg"
        width="40"
        alt="USER"
      />
      <div class="d-flex flex-column">
        <h6 class="m-0 fs-14px text-capitalize">{{ username }}</h6>
        <small class="fs-12px">
          {{
            role == "USER"
              ? ("header.user" | transloco)
              : ("header.admin" | transloco)
          }}</small
        >
      </div>
    </div>
    <div *ngIf="!isLoggedIn">
      <button
        class="gen-btn text-white py-2 px-3 border-0 ms-3 rounded"
        (click)="navigateToLogin()"
      >
        {{ "header.signin" | transloco }}
      </button>
    </div>
  </div>
</div>
