<div class="container position-relative mb-5">
  <h1 class="my-5">Suliko AI-ის კონფიდენციალურობის პოლიტიკა</h1>
  <p>
    ეს კონფიდენციალურობის პოლიტიკა განმარტავს, თუ როგორ აგროვებს, იყენებს და
    იცავს Suliko AI თქვენს პერსონალურ ინფორმაციას ჩვენი ვებ-გვერდის
    გამოყენებისას.
  </p>

  <h6>1. შეგროვებული ინფორმაცია</h6>
  <ul>
    <p>ჩვენ ვაგროვებთ შემდეგ პერსონალურ ინფორმაციას:</p>
    <li>სახელი და გვარი</li>
    <li>ელექტრონული ფოსტის მისამართი</li>
    <li>ტელეფონის ნომერი</li>
    <p class="mt-3">
      გარდა ამისა, ჩვენ ვინახავთ თქვენ მიერ გენერირებულ კონტენტს "ისტორიის"
      სექციაში.
    </p>
  </ul>

  <h6>2. ინფორმაციის გამოყენება</h6>

  <p>
    თქვენს მიერ მოწოდებულ ინფორმაციას ვიყენებთ მხოლოდ მომსახურების გასაწევად და
    თქვენთან კომუნიკაციისთვის. ჩვენ არ ვიყენებთ თქვენს მიერ გენერირებულ კონტენტს
    რაიმე სხვა მიზნით.
  </p>

  <h6>3. ქუქი-ფაილები</h6>
  <p>ჩვენი ვებ-გვერდი არ იყენებს ქუქი-ფაილებს.</p>

  <h6>4. მონაცემთა შენახვა და დაცვა</h6>
  <p>
    თქვენი პერსონალური ინფორმაცია ინახება დაშიფრული სახით სერვერზე, რომელიც
    მდებარეობს ევროკავშირის ტერიტორიაზე. ჩვენ ვიღებთ ყველა საჭირო ზომას თქვენი
    მონაცემების დასაცავად არაავტორიზებული წვდომის, გამჟღავნების, შეცვლის ან
    განადგურებისგან.
  </p>

  <h6>5. ინფორმაციის გაზიარება</h6>
  <p>ჩვენ არ ვუზიარებთ თქვენს პერსონალურ ინფორმაციას მესამე მხარეებს.</p>

  <h6>6. მომხმარებლის უფლებები</h6>

  <p>
    GDPR-ის შესაბამისად, თქვენ გაქვთ უფლება მოითხოვოთ წვდომა, შესწორება ან წაშლა
    თქვენი პერსონალური ინფორმაციისა. ასევე, შეგიძლიათ მოითხოვოთ თქვენი
    მონაცემების დამუშავების შეზღუდვა ან წინააღმდეგობა გაუწიოთ მათ დამუშავებას.
  </p>

  <h6>7. კონტაქტი</h6>

  <p>
    თუ გაქვთ კითხვები ან შენიშვნები ჩვენს კონფიდენციალურობის პოლიტიკასთან
    დაკავშირებით, გთხოვთ დაგვიკავშირდეთ:
  </p>

  <ul>
    <li>ელ-ფოსტა: misha&#64;api24.ge</li>
    <li>ტელეფონი: +995 579 737 737</li>
  </ul>

  <h6>8. ასაკობრივი შეზღუდვა</h6>

  <p>ჩვენს სერვისს არ აქვს ასაკობრივი შეზღუდვა.</p>

  <h6>9. ცვლილებები კონფიდენციალურობის პოლიტიკაში</h6>
  <p>
    ჩვენ პერიოდულად ვანახლებთ ამ კონფიდენციალურობის პოლიტიკას. განახლება ხდება
    ყოველ 4-6 თვეში ერთხელ. გთხოვთ, რეგულარულად შეამოწმოთ ეს გვერდი
    ცვლილებებისთვის.
  </p>
  <p>ბოლო განახლება: [02/10/2024]</p>

  <p>
    თქვენი Suliko AI-ის სერვისის გამოყენებით, თქვენ ეთანხმებით ამ
    კონფიდენციალურობის პოლიტიკას.
  </p>
</div>
