<div class="content-component">
  <div class="container-fluid pt-5 px-5">
    <h3>{{ "sidebar.mail" | transloco }}</h3>
    <form [formGroup]="chatForm">
      <div class="translate-container row">
        <div class="col-12 col-lg-6">
          <select
            id="languageSourceSelect"
            class="form-select product-selection c-p shadow-none mt-5 mb-4"
            aria-label="Large select example"
            [(ngModel)]="emailFormId"
            [ngModelOptions]="{ standalone: true }"
            required
          >
            <option value="1">{{ "mailman.f1" | transloco }}</option>
            <option value="2">{{ "mailman.f2" | transloco }}</option>
            <option value="3">{{ "mailman.f3" | transloco }}</option>
          </select>

          <div class="translate-content">
            <textarea
              #textareaElement
              class="form-control shadow-none"
              [placeholder]="'mailman.email' | transloco"
              [maxlength]="maxChars"
              formControlName="text"
              (input)="updateTextareaContent($event)"
              (input)="adjustTextareaHeight()"
              id="floatingTextarea2"
            ></textarea>
            <div class="text-end pe-3 pb-2">
              <small class="chars text-muted"
                >{{ textareaContent.length }}/{{ maxChars }}</small
              >
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <select
            id="languageSelect"
            class="form-select product-selection c-p shadow-none mt-5 mb-4 ms-auto"
            aria-label="Large select example"
            [(ngModel)]="selectedLanguage"
            [ngModelOptions]="{ standalone: true }"
            required
          >
            <option selected value="0" disabled>
              {{ "mailman.language-options" | transloco }}
            </option>
            <option *ngFor="let language of languages" [value]="language.id">
              {{
                this.translocoService.getActiveLang() == "ge"
                  ? language.nameGeo
                  : language.name
              }}
            </option>
          </select>
          <div class="translated-content p-2">
            <div class="translated-div">
              <div class="loader" *ngIf="isLoading"></div>
              <p
                *ngIf="!isLoading"
                [innerHTML]="translatedText"
                class="pe-3"
                #generatedResponse
              ></p>
            </div>
            <i
              *ngIf="copyBtn"
              class="bi bi-copy text-muted"
              (click)="copyToClipboard()"
            ></i>
          </div>
        </div>
      </div>
      <div class="text-center py-5">
        <button class="button content-btn" (click)="sendText()">
          <span class="button-content">{{
            "mailman.receiver" | transloco
          }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
