<div class="auth-bg align-items-start position-relative">
  <div class="p-2 rounded position-absolute top-0 start-0 c-p" (click)="navigateToServices()">
    <img src="../../../assets/images/SLK/logo_white.svg" width="120" alt="">
  </div>
  <div class="auth-container auth-sign-up">
    <div class="text-center mb-4">
      <h3>Create an Account</h3>
      <p>Create a account to continue</p>
    </div>
    <form>
      <div class="input-field">
        <label for="name">Name</label>
        <input type="text" formControlName="firstname" placeholder="John" id="name" autocomplete="name"/>
      </div>
      <div class="input-field">
        <label for="surname">Surname</label>
        <input type="text" formControlName="lastname" placeholder="Orhan" id="surname"/>
      </div>
      <div class="input-field">
        <label for="email">Email</label>
        <input type="email" formControlName="email" placeholder="example@example.com" id="email" autocomplete="email"/>
      </div>
      <div class="input-field">
        <label for="phone">Phone</label>
        <input
          type="text"
          formControlName="phone"
          placeholder="123456789"
          minlength="6"
          maxlength="9"
          id="phone"
          autocomplete="tel"
        />
      </div>
      <div class="input-field">
        <label for="password">Password</label>
        <input type="password" placeholder="********" id="password"/>
      </div>
      <div class="mt-5 text-center">
        <button class="gen-btn w-75 rounded py-2 border-0 text-white">
          Sign up
        </button>
      </div>
    </form>
    <p class="mt-4 text-center">
      Already have an account?
      <span class="slk-color" (click)="navigateToSignIn()">Login</span>
    </p>
  </div>
</div>
