<div class="auth-bg align-items-start position-relative">
  <div class="p-2 rounded position-absolute top-0 start-0 c-p" >
    <img src="../../../assets/images/SLK/logo_white.svg" width="120" alt="logo" (click)="navigateToServices()">
    <p class="text-white mt-3" (click)="goBack()">&#10094; {{ 'back' | transloco }}</p>
  </div>
  <div class="auth-container auth-sign-up" @fadeIn>
    <div class="text-center mb-4">
      <h3>{{ 'sign-up.h3' | transloco }}</h3>
      <p>{{ 'sign-in.p' | transloco }}</p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
      <div class="input-field">
        <label for="name">{{ 'sign-up.name' | transloco }}</label>
        <input type="text" formControlName="firstname" placeholder="Suliko" id="name" autocomplete="name"/>
      </div>
      <div class="input-field">
        <label for="surname">{{ 'sign-up.surname' | transloco }}</label>
        <input type="text" formControlName="lastname" placeholder="Tsereteli" id="surname"/>
      </div>
      <div class="input-field">
        <label for="email">{{ 'sign-up.mail' | transloco }}</label>
        <input type="email" formControlName="email" placeholder="suliko@suliko.com" id="email" autocomplete="email"/>
      </div>
      <div class="input-field">
        <label for="phone">{{ 'sign-up.phone' | transloco }}</label>
        <input
          type="text"
          formControlName="phone"
          placeholder="5XX 11 22 33"
          minlength="6"
          maxlength="9"
          id="phone"
          autocomplete="tel"
        />
      </div>
      <div class="input-field">
        <label for="password">{{ 'sign-up.password' | transloco }}</label>
        <input type="password" formControlName="password" placeholder="********" id="password"/>
      </div>
      <div class="mt-5 text-center">
        <button class="gen-btn w-75 rounded py-2 border-0 text-white">
          <span *ngIf="!isLoading">{{ 'sign-up.sign-up-btn' | transloco }}</span>
          <span *ngIf="isLoading">{{ 'sign-up.sign-up-btn' | transloco }}...</span>
        </button>
      </div>
    </form>
    <p class="mt-4 text-center">
      {{ 'sign-up.account' | transloco }}
      <span class="slk-color" (click)="navigateToSignIn()">{{ 'sign-up.login' | transloco }}</span>
    </p>
  </div>
</div>
