<div class="d-flex flex-column flex-shrink-0 p-3 bg-white" style="width: 230px; height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-md-0 mx-md-auto link-dark text-decoration-none">
    <span class="fs-5 fw-bold mb-3">Suliko AI</span>
  </a>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="translate" class="nav-link active" aria-current="page">
        <i class="bi bi-globe me-2 fs-5"></i>
        Translate
      </a>
    </li>
    <li>
      <a routerLink="description" class="nav-link link-dark">
        <i class="bi bi-body-text me-2 fs-5"></i>
        Description
      </a>
    </li>
    <li>
      <a routerLink="copyright" class="nav-link link-dark">
        <i class="bi bi-chat-text me-2 fs-5"></i>
        Copywriter
      </a>
    </li>
    <li>
      <a routerLink="script" class="nav-link link-dark">
        <i class="bi bi-menu-button-wide me-2 fs-5"></i>
        Scriptwriter
      </a>
    </li>
    <li>
      <a routerLink="mail" class="nav-link link-dark">
        <i class="bi bi-inbox me-2 fs-5"></i>
        Mailman
      </a>
    </li>
  </ul>
  <hr>
  <div class="">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link link-dark" aria-current="page">
          <img class="bi me-2" src="../../../../assets/images/sidebar_icons/balance.svg" alt="">
          Balance: 123
        </a>
      </li>
      <li>
        <a routerLink="profile" class="nav-link link-dark">
          <img class="bi me-2" src="../../../../assets/images/sidebar_icons/settings.svg" alt="">
          Profile
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <img class="bi me-2" src="../../../../assets/images/sidebar_icons/logout.svg" alt="">
          Log out
        </a>
      </li>
    </ul>
  </div>
</div>
