<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-white overflow-y-auto"
  style="width: 230px; height: 100vh"
>
  <p
    class="d-flex align-items-start justify-content-between mb-md-0 mx-md-auto link-dark text-decoration-none"
  >
    <span class="fs-5 fw-bold mb-3">Suliko AI</span>
    <i class="bi bi-arrow-bar-left" (click)="onToggleSidebar()"></i>
  </p>
  <div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <p routerLink="translate" routerLinkActive="active" class="nav-link">
          <i class="bi bi-globe me-2 fs-5"></i>
          <span>{{ "sidebar.translate" | transloco }}</span>
        </p>
      </li>
      <li>
        <p routerLink="description" routerLinkActive="active" class="nav-link">
          <i class="bi bi-body-text me-2 fs-5"></i>
          {{ "sidebar.description" | transloco }}
        </p>
      </li>
      <li>
        <p routerLink="copyright" routerLinkActive="active" class="nav-link">
          <i class="bi bi-chat-text me-2 fs-5"></i>
          {{ "sidebar.copyright" | transloco }}
        </p>
      </li>
      <li>
        <p routerLink="script" routerLinkActive="active" class="nav-link">
          <i class="bi bi-menu-button-wide me-2 fs-5"></i>
          {{ "sidebar.script" | transloco }}
        </p>
      </li>
      <li>
        <p routerLink="mail" routerLinkActive="active" class="nav-link">
          <i class="bi bi-inbox me-2 fs-5"></i>
          {{ "sidebar.mail" | transloco }}
        </p>
      </li>
    </ul>
    <div>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <p routerLink="lawyer" routerLinkActive="active" class="nav-link">
            <i class="bi bi-globe me-2 fs-5"></i>
            <span>{{ "sidebar.chats.lawyer" | transloco }}</span>
          </p>
        </li>
        <li>
          <p (click)="onFinance()" class="nav-link">
            <i class="bi bi-body-text me-2 fs-5"></i>
            {{ "sidebar.chats.finance" | transloco }}
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="isLoggedIn" class="mt-auto">
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <p
          routerLink="balance"
          routerLinkActive="loggedin-link-active"
          class="nav-link loggedin-link"
        >
          <img
            class="bi me-2"
            src="../../../../assets/images/sidebar_icons/balance.svg"
            alt=""
          />
          {{ "sidebar.balance" | transloco }}: ₾ {{ balance }}
        </p>
      </li>
      <li>
        <p
          routerLink="history"
          routerLinkActive="loggedin-link-active"
          class="nav-link loggedin-link"
        >
          <i class="bi bi-archive me-2 fs-5"></i>
          {{ "sidebar.history" | transloco }}
        </p>
      </li>
      <li>
        <p
          routerLink="profile"
          routerLinkActive="loggedin-link-active"
          class="nav-link loggedin-link"
        >
          <img
            class="bi me-2"
            src="../../../../assets/images/sidebar_icons/settings.svg"
            alt=""
          />
          {{ "sidebar.profile" | transloco }}
        </p>
      </li>
      <li>
        <p (click)="logout()" class="nav-link loggedin-link">
          <img
            class="bi me-2"
            src="../../../../assets/images/sidebar_icons/logout.svg"
            alt=""
          />
          <span>{{ "sidebar.logout" | transloco }}</span>
        </p>
      </li>
    </ul>
  </div>
</div>
