.loggedin-link:hover,
.loggedin-link-active {
  background-color: #3b5af328 !important;
  fill: black !important;
}

*::-webkit-scrollbar {
  height: 50%;
  width: 0.2rem !important;
  background-color: #eeeeee !important;
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #b4b4b4 !important;
}
