<div class="content-component px-md-5 px-sm-1 pb-5">
  <app-greeting
    [title]="'sidebar.script' | transloco"
    [description1]="'screenwriter.des1' | transloco"
    [description2]="'screenwriter.des2' | transloco"
  ></app-greeting>
  <div class="container">
    <form [formGroup]="chatForm" (ngSubmit)="sendText()" class="mb-5">
      <div
        class="input-search-container d-flex align-items-center justify-content-center flex-wrap flex-lg-nowrap position-relative"
      >
        <div
          class="d-flex align-items-center justify-content-start flex-grow-1 copyright-input"
        >
          <div class="photo-upload">
            <label
              for="file-upload"
              class="custom-file-upload px-3"
              title="Add an image (Format: png, jpeg, webp, gif)"
            >
              <i class="bi bi-file-earmark-arrow-up me-2"
              [ngClass]="{
                'error-text':
                  chatForm.get('file')?.invalid &&
                  (chatForm.get('file')?.touched ||
                    chatForm.get('file')?.dirty ||
                    notUploadedFile)
              }"></i>
              <span
                class="attach-file-text"
                [ngClass]="{
                  'error-text':
                    chatForm.get('file')?.invalid &&
                    (chatForm.get('file')?.touched ||
                      chatForm.get('file')?.dirty ||
                      notUploadedFile)
                }"
                >{{ "attach-file" | transloco }}</span
              >
            </label>
            <input
              type="file"
              id="file-upload"
              formControlName="file"
              accept=".png, .jpeg, .webp, .gif"
              (change)="onFileSelected($event)"
            />
          </div>
          <input
            type="text"
            [placeholder]="'productname' | transloco"
            formControlName="text"
            class="flex-grow-1"
            [ngClass]="{
              'error-place':
                chatForm.get('text')?.invalid &&
                (chatForm.get('text')?.touched ||
                  chatForm.get('text')?.dirty ||
                  notProductName)
            }"
          />
        </div>
        <div class="ms-sm-2 text-center btn-mt-div">
          <button
            type="submit"
            class="content-btn mx-auto d-flex gap-2 px-4"
            [title]="'send' | transloco"
          >
            <span>{{ "send" | transloco }}</span
            ><i class="bi bi-send-fill"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="response-container">
      <div *ngIf="displayUploadedImageTextArea" class="upload-photo-container">
        <img
          [src]="displayUploadedImageTextArea"
          alt="Uploaded Image"
          width="300"
        />
        <div class="dlt-div" (click)="onDeleteImage()">
          <i class="bi bi-x"></i>
        </div>
      </div>
      <div class="align-items-start gap-2 responsed-text" *ngIf="responseText">
        <div class="upload-photo-container mx-auto text-center mt-2">
          <img
            [src]="displayImageOnUserChat"
            alt="Uploaded Image"
            width="300"
          />
          <h5>{{ userMessageText }}</h5>
        </div>

        <div class="flex-grow-1 response-border-div">
          <div class="text-end">
            <i
              class="bi bi-copy"
              title="Copy to clipboard"
              (click)="copyToClipboard()"
            ></i>
          </div>
          <p #generatedResponse [innerHTML]="responseText"></p>
        </div>
      </div>
    </div>
    <div class="generator-loader-container text-center" *ngIf="isLoading">
      <div class="loader-generator mx-auto"></div>
    </div>
  </div>
</div>
