<div class="auth-bg align-items-center overflow-x-hidden" >
  <div class="p-2 rounded position-absolute top-0 start-0 c-p" >
    <img src="../../../assets/images/SLK/logo_white.svg" width="120" alt="LOGO" (click)="navigateToServices()">
    <p class="text-white mt-3" (click)="goBack()">&#10094; {{ 'back' | transloco }}</p>
  </div>
  <div class="auth-container auth-sign-in" @fadeIn>
    <div class="text-center">
      <h3>{{ 'sign-in.h3' | transloco }}</h3>
      <p>{{ 'sign-in.p' | transloco }}</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
      <ul class="list-inline text-center">
        <li class="list-inline-item">
          <i class="bi bi-facebook fs-3 c-p slk-color" (click)="loginWithFB()"></i>
        </li>
      </ul>
      <div class="input-field">
        <label for="email">{{ 'sign-in.email' | transloco }}</label>
        <input type="email" formControlName="username" placeholder="suliko@suliko.com" id="email" autocomplete="email"/>
      </div>
      <div class="input-field">
        <label for="password">{{ 'sign-in.password' | transloco }}</label>
        <input type="password" formControlName="password" placeholder="********" id="password"/>
      </div>
      <div class="mt-5 text-center">
        <button type="submit" class="gen-btn w-75 rounded py-2 border-0 text-white">
          <span *ngIf="!isLoading">{{ 'sign-in.sign-in-btn' | transloco }}</span>
          <span *ngIf="isLoading">{{ 'sign-in.sign-in-btn' | transloco }}...</span>
        </button>
      </div>
    </form>
    <p class="mt-4 text-center">{{ 'sign-in.account' | transloco }} <span class="slk-color" (click)="navigateToSignUp()">{{ 'sign-in.create-account' | transloco }}</span></p>
  </div>
</div>
