<div class="content-component">
  <div class="container-fluid tr-c pt-5">
    <h3>{{ 'sidebar.translate' | transloco }}</h3>
    <p class="text-muted">{{ 'translate.description' | transloco }} ({{ 'translate.price' | transloco }})</p>
    <div class="translate-options d-flex overflow-x-scroll mb-5 mt-4">
      <button
        (click)="onText()"
        [class.active-translate-item]="activeButton === 'text'"
      >
        <i class="bi bi-textarea-t"></i> {{ 'translate.text' | transloco }}
      </button>
      <button
        (click)="onImage()"
        [class.active-translate-item]="activeButton === 'image'"
      >
        <i class="bi bi-image"></i> {{ 'translate.photo' | transloco }}
      </button>
      <button
        (click)="onDoc()"
        [class.active-translate-item]="activeButton === 'doc'"
      >
        <i class="bi bi-file-earmark-pdf"></i> {{ 'translate.document' | transloco }}
      </button>
    </div>
    <div *ngIf="activeComponent" class="chat-container mt-3">
      <div class="ng-renderer" *ngComponentOutlet="activeComponent"></div>
    </div>
  </div>
</div>
