

*::-webkit-scrollbar {
  height: 50%;
  width: 0.2rem !important;
  background-color: #eeeeee !important; /* or add it to the track */
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #adadad !important;
}

.translate-options {
  button {
    margin-top: 1rem;
    margin-right: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    font-weight: 600;
    color: #3c3d42;
    .bi {
      font-size: 16px;
    }
    &:hover {
      background-color: rgba(128, 128, 128, 0.05);
    }
  }

}

.active-translate-item {
  background-color: #3b59f3 !important;
  color: white !important;
}
