@use "@angular/material" as mat;

@import "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap";

@font-face {
  font-family: ROBOTOGEO;
  src: url("./assets/fonts/ROBOTO_GEO_NUS.TTF");
}

.content-component {
  background-color: white;
  margin: 10px;
  height: calc(100vh - 4.75rem);
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dahsboard-main-bg {
  background-color: #f5f6fa;
}

/////////// MEDIA QUERIES ///////////

@media screen and (max-width: 427px) {
  .btn-mt-div {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 777px) {
  app-sidebar {
    position: fixed;
    left: 0;
    background-color: white;
    width: 230px;
    height: 100%;
    box-shadow: 5px 16px 8px 3px rgba(0, 0, 0, 0.3);
    z-index: 111;
  }
  .sidenav-container::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.363);
    height: 100vh;
    transform: translateX(100%);
    z-index: 11;
  }
  .nav {
    width: 100% !important;
  }
  .chatting-container .question-div,
  .chatting-container .answer-chat-text {
    max-width: 80%;
  }
}

@media screen and (min-width: 779px) {
  .bi-arrow-bar-left {
    display: none;
  }
  .chatting-container .question-div,
  .chatting-container .answer-chat-text {
    max-width: 60%;
  }
}

@media screen and (max-width: 888px) {
  .responsed-text {
    display: block;
  }
}

@media screen and (min-width: 889px) {
  .responsed-text {
    display: flex;
  }
}

@media screen and (max-width: 668px) {
  .profile-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .auth-sign-up {
    width: 95vw;
  }
  .auth-sign-in {
    width: 95vw;
  }
}
@media screen and (max-width: 1079px) and (min-width: 669px) {
  .auth-sign-up {
    width: 60vw;
  }
}
@media screen and (min-width: 1080px) {
  .auth-sign-up {
    width: 40vw;
  }
  .tr-c {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}
@media screen and (max-width: 998px) {
  .translate-container {
    flex-direction: column;
  }
}

/////////// MEDIA QUERIES ///////////

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  overflow-x: hidden;
  font-family: ROBOTOGEO, "Nunito Sans", sans-serif !important;
  // background-color: #f5f6fa !important;
}

/////////// GENERAL CLASSES - REUSED ///////////

.mx-w-15 {
  max-width: 13rem;
  min-width: 11rem !important;
}

.fs-14px {
  font-size: 14px;
}
.fs-12px {
  font-size: 12px;
}
.slk-color {
  color: #3b59f3;
}
.c-p {
  cursor: pointer;
}
.gen-btn {
  background-color: #3b59f3;
  transition: 0.15s all ease-in-out;
}
.gen-btn:hover {
  background-color: #0e33ed;
}
.dis {
  width: fit-content;
  border: 1px solid #dee2e6;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  line-height: 1.5;
  background-color: rgb(240, 240, 240);
}
.hidden {
  display: none;
}
.content-btn {
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  background-color: #3b59f3;
  color: white;
  transition: all 0.15s ease-in-out;
  svg {
    width: 16px;
    fill: white;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.content-btn.translate {
  padding: 0.5rem 2rem;
}

.bi-copy {
  cursor: pointer;
  font-size: 1rem;
  color: #182fa1;
}

.sidenav-container {
  overflow-x: hidden;
  transition: all 500ms ease-in-out !important;
}

.nav-link span {
  white-space: nowrap;
}

.loggedin-link {
  height: 37px;
}

/////////// GENERAL CLASSES - REUSED ///////////

/////////// AUTH ///////////

.auth-bg {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-image: radial-gradient(
    circle,
    #2d355a,
    #2e3f7f,
    #2f49a5,
    #3251cc,
    #3b59f3
  );
}
.auth-bg .auth-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}
.auth-bg .auth-container .input-field label {
  display: block;
  margin-top: 20px;
}
.auth-bg .auth-container .input-field input {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
}
.auth-bg .auth-container p {
  cursor: default;
}
.auth-bg .auth-container p span {
  cursor: pointer;
}
.auth-bg .auth-sign-up {
  margin: 6rem 0;
}

/////////// AUTH ///////////

/////////// SIDEBAR ///////////
.nav .nav-link {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  color: black;
  svg {
    fill: #2c3035;
    width: 18px;
    margin: 4px 2px;
    height: 20px;
  }
}
.nav .nav-link:hover {
  background-color: #3b59f3 !important;
  color: white !important;
  svg {
    fill: white;
  }
}
.nav p {
  font-size: 14px;
  margin-bottom: 0;
  cursor: pointer;
}
.nav .active {
  background-color: #3b59f3 !important;
  color: white !important;
  svg {
    fill: white;
  }
}
/////////// SIDEBAR ///////////

/// translate component ///

.translate-container {
  height: 100%;
  .translate-content,
  .translated-content {
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .translate-content {
    height: 100%;
    position: relative;
    textarea {
      min-height: 200px;
      width: 100%;
      overflow: hidden;
      resize: none;
      outline: none;
      border: none;
      border-radius: 10px;
    }
  }
  .translated-content {
    height: 100%;
    min-height: 232px;
    position: relative;
    .bi-copy {
      position: absolute;
      top: 2px;
      right: 6px;
      border-radius: 50%;
      cursor: pointer;
      padding: 6px 10px;
      &:hover {
        background-color: rgba(128, 128, 128, 0.25);
      }
    }
  }
}

.file-div {
  max-width: 30rem;
  width: 90%;
  margin: 0.2rem 0;
  background-color: #f1f1f1;
  padding: 0.7rem 3rem 0.7rem 1rem;
  border-radius: 7px;
  text-align: left;
  .file-name-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: black;
  }
  .bi-x-octagon {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}

// LOADING BAR //
.pr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .progress-bar__container {
    width: 80%;
    padding: 5px;
    height: 1rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #3b59f3;
    background-color: white;
    .progress-bar {
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      background-color: #14c2cc;
      background-image: radial-gradient(
          circle farthest-side at top right,
          transparent,
          #0d64ff
        ),
        radial-gradient(
          ellipse farthest-corner at 0% 100%,
          transparent,
          #ff00a0
        );
      animation: bg-change 10s infinite;
      top: 0;
      bottom: 0;
      left: -100%;
      border-radius: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      z-index: 111;
    }
  }
}

@keyframes bg-change {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-45deg);
  }
}
// LOADING BAR //

/////////// DESCRIPTION, SCRIPT-COPY ///////////

.search-text-ctg {
  width: 100%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 100px;
  input {
    padding: 0.8rem 1rem;
    border: none;
    border-right: 1px solid rgb(210, 210, 210);
    outline: none;
    border-radius: 100px 0 0 100px;
  }
}

.copyright-input {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 100px;
  input {
    outline: none;
    padding: 0.8rem 1rem;
    border-left: 1px solid rgb(210, 210, 210) !important;
    border-radius: 0 100px 100px 0;
    border: none;
  }
}

.response-border-div {
  padding: 1rem;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

#file-upload {
  display: none;
}

.upload-photo-container {
  width: fit-content;
  max-width: 150px;
  position: relative;
  img {
    max-width: 100px;
  }
  .dlt-div {
    background-color: white;
    position: absolute;
    top: -0.5rem;
    right: 0;
    cursor: pointer;
    border-radius: 0 0 0 50%;
    &:hover .bi {
      color: red;
    }
    .bi {
      font-size: 12px;
      padding: 0 0.2rem;
    }
  }
  h5 {
    word-wrap: break-word;
  }
}

.photo-upload {
  // position: absolute;
  // top: 12px;
  // left: 0;
  .custom-file-upload {
    display: inline-block;
    cursor: pointer;
    svg {
      width: 16px;
      fill: rgb(73, 73, 73);
      margin-bottom: 2px;
    }
    i {
      color: rgb(73, 73, 73);
    }
  }
}

/////////// DESCRIPTION, SCRIPT-COPY ///////////

.generator-loader-container {
  margin: 8rem 0;
  .loader-generator {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #3b59f3;
    animation: l15 1s infinite linear;
  }
  .loader-generator::before,
  .loader-generator::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
  }
  .loader-generator::after {
    margin: 8px;
    animation-duration: 3s;
  }
}

@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

.attach-file-text {
  color: rgba(33, 37, 41, 0.75);
}

/////////// ERRORs /////////////
.select-error {
  border: rgba(255, 0, 0, 0.4) 1px solid !important;
  box-shadow: rgba(255, 0, 0, 0.2) 0px 2px 8px 0px !important;
}

.error-text {
  color: red !important;
}

.error-place::placeholder {
  color: red !important;
}

.ctg {
  .mat-mdc-select-placeholder.mat-mdc-select-min-line {
    color: red !important;
  }
}
/////////// ERRORs /////////////

.language-tr-div {
  p {
    margin: 0;
    padding: 0.75rem 1rem;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background-color: rgb(248, 248, 248);
      border-color: blue;
    }
  }
  p.l-d {
    margin-left: 10px;
  }
}

#languageSelect,
#languageSourceSelect {
  padding: 0.75rem 1rem;
  margin-right: 10px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.selected-lanp-active,
.auto-language {
  background-color: rgb(248, 248, 248);
  border-bottom: 2px solid blue !important;
}

.selected-language-active {
  border-bottom: 2px solid blue !important;
  background-color: rgb(248, 248, 248) !important;
}

// HOME COMPONENT //
.home-nav,
.z-999 {
  z-index: 999 !important;
}

canvas {
  display: block;
  position: absolute;
  // z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.out-bg {
  padding: 0.25rem 1rem;
  background-color: white;
  border: 1px solid #0d64ff;
  color: #0e33ed;
  box-sizing: border-box;
}

.counter-container {
  background-color: #3b59f3;
  color: white;
}
// HOME COMPONENT //

.mat-mdc-menu-content {
  max-height: 300px !important;
}

.acc-del-container {
  .bi-x-lg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: red;
  }
}

.acc-del {
  padding: 5px 15px;
  border-radius: 1rem;
  transition: all 0.25s ease-in-out;
  color: red;
  &:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
  }
}

.del-acc-btn,
.close-dialog-delacc {
  padding: 5px 15px;
  border-radius: 1rem;
  transition: all 0.25s ease-in-out;
  border: none;
  outline: none;
}

.del-acc-btn {
  background-color: transparent;
  color: red;
  &:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
  }
}

.close-dialog-delacc {
  background-color: transparent;
  &:hover {
    background-color: #3b59f3;
    color: white;
  }
}
