<canvas id="particleCanvas"></canvas>
<div class="home-component">
  <div class="container">
    <nav class="navbar navbar-expand-lg home-nav">
      <a class="navbar-brand">
        <img
          src="../../../assets/images/SLK/FullLogo.svg"
          width="120"
          class="c-p"
          routerLink="/home"
          alt="SULIKO"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
          <li class="nav-item">
            <a class="nav-link">{{ 'home.navbar.blog' | transloco }}</a>
          </li>
        </ul>
        <div>
          <button
            class="content-btn"
            (click)="!isLoggedIn ? goToSignIn() : goToServices()"
          >
          <span *ngIf="isLoggedIn; else signIn">
            {{ 'home.navbar.dashboard' | transloco }}
          </span>
          <ng-template #signIn>
            {{ 'home.navbar.sign-in' | transloco }}
          </ng-template>
          </button>
        </div>
      </div>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <img
            src="../../assets/images/SLK/FullLogo.svg"
            alt=""
            width="180"
            class="mb-3"
          />
          <p class="font-italic text-muted">
            {{ 'home.footer.title' | transloco }}
          </p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/profile.php?id=61564358761003" target="_blank" title="facebook"
                ><i class="bi bi-facebook"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">{{ 'home.count.s' | transloco }}</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">{{
              "sidebar.translate" | transloco
            }}</a></li>
            <li class="mb-2">
              <a href="#" class="text-muted">{{
                "sidebar.description" | transloco
              }}</a>
            </li>
            <li class="mb-2">
              <a href="#" class="text-muted">{{
                "sidebar.copyright" | transloco
              }}</a>
            </li>
            <li class="mb-2"><a href="#" class="text-muted">{{
              "sidebar.mail" | transloco
            }}</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">{{
            "header.user" | transloco
          }}</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">{{ "header.signin" | transloco }}</a></li>
            <li class="mb-2"><a href="#" class="text-muted">{{ 'sign-up.sign-up-btn' | transloco }}</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">{{ 'home.footer.contact.title' | transloco }}</h6>
          <p class="text-muted mb-2">{{ 'home.footer.contact.p' | transloco }}</p>
          <p class="text-muted mb-2">{{ 'home.footer.contact.address' | transloco }}</p>
          <p class="text-muted mb-2">579 73 77 37</p>
          <p class="text-muted mb-4">misha&#64;api24.ge</p>
          <h6></h6>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="py-3">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">&#169; {{ 'home.footer.copyright' | transloco }}</p>
      </div>
    </div>
  </footer>
</div>
