<div class="content-component">
  <div class="profile-container">
    <div class="text-end my-4">
      <span class="c-p acc-del" (click)="accDelete()"><i class="bi bi-trash3 me-2"></i>{{ 'profile.acc-del' | transloco }}</span>
    </div>
    <div class="text-center my-5">
      <img
        src="../../../../assets/images/sidebar_icons/profile_photo.svg"
        width="100"
        alt="USER"
      />
      <p class="mt-2 mb-0 pb-0">{{ userDetails.name }}</p>
      <p class="text-capitalize">{{ userDetails.role == "user" ? ("header.user" | transloco) : ("header.admin" | transloco) }}</p>
    </div>
    <div>
      <div class="row mb-3">
        <div class="form-group col-md-6">
          <label for="name">{{ 'profile.name' | transloco }}</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="name"
            [value]="userDetails.name"
            disabled
          />
        </div>
        <div class="form-group col-md-6">
          <label for="email">{{ 'profile.email' | transloco }}</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="email"
            [value]="userDetails.email"
            disabled
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="form-group col-md-6">
          <label for="phone">{{ 'profile.phone' | transloco }}</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="phone"
            [value]="userDetails.phone"
            disabled
          />
        </div>
        <div class="form-group col-md-6">
          <label for="balance">{{ 'profile.balance' | transloco }}</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="balance"
            [value]="balance"
            disabled
          />
        </div>
      </div>
    </div>
    <div class="mt-5 d-flex justify-content-center align-items-center gap-2">
      <div>
        <button type="button" class="content-btn" (click)="navigateBalance()">
          {{ 'profile.btn1' | transloco }}
        </button>
      </div>
      <div>
        <button type="button" class="content-btn" (click)="togglePassword()">
          {{ 'profile.btn2' | transloco }}
        </button>
      </div>
    </div>
    <form
      [formGroup]="passwordForm"
      (ngSubmit)="changePassword()"
      *ngIf="passwordChange"
    >
      <div class="row mt-5">
        <div class="form-group col-md-6">
          <label for="password">{{ 'profile.c-pass' | transloco }}</label>
          <input
            type="password"
            class="form-control form-control-sm"
            id="password"
            formControlName="oldPassword"
            minlength="3"
          />
          <small class="text-muted mb-4"
            >{{ 'profile.ch-label' | transloco }}</small
          >
        </div>
        <div class="form-group col-md-6">
          <label for="newpassword">{{ 'profile.n-pass' | transloco }}</label>
          <input
            type="password"
            class="form-control form-control-sm"
            formControlName="newPassword"
            id="newpassword"
            minlength="3"
          />
          <small class="text-muted mb-4"
            >{{ 'profile.ch-label' | transloco }}</small
          >
        </div>
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="content-btn" *ngIf="!isLoading">
          {{ 'profile.btn3' | transloco }}
        </button>
        <button type="button" class="content-btn" *ngIf="isLoading">
          {{ 'profile.btn3' | transloco }}...
        </button>
      </div>
    </form>
  </div>
</div>
