@media screen and (max-width: 668px) {
  .profile-container {
    width: 100%;
  }
}

@media screen and (min-width: 669px) {
  .profile-container {
    width: 70%;
  }
}

.profile-container {
  margin: auto;
}
