<div class="content-component px-md-5 px-sm-1 pb-5">
  <app-greeting
    [title]="'sidebar.copyright' | transloco"
    [description1]="'advertiser.des1' | transloco"
    [description2]="'advertiser.des2' | transloco"
  ></app-greeting>
  <div class="container">
    <form [formGroup]="chatForm" (ngSubmit)="sendText()" class="mb-5">
      <div
        class="input-search-container d-flex align-items-center justify-content-md-between justify-content-sm-center flex-sm-wrap flex-md-nowrap"
      >
        <div class="photo-upload flex-shrink-0 me-2">
          <label
            for="file-upload"
            class="custom-file-upload"
            title="Add an image (Format: png, jpeg, webp, gif)"
          >
            <i class="bi bi-file-earmark-image"></i>
          </label>
          <input
            type="file"
            id="file-upload"
            formControlName="file"
            accept=".png, .jpeg, .webp, .gif"
            (change)="onFileSelected($event)"
          />
        </div>
        <input
          type="text"
          [placeholder]=" 'productname' | transloco"
          formControlName="text"
          class="flex-grow-1 copyright-input"
        />
        <div class="ms-md-2 ms-sm-0 mt-sm-4 mt-md-0 text-center">
          <button
            type="submit"
            class="content-btn mx-auto d-flex gap-2 px-4"
            [title]="'send' | transloco"
          >
            <span>{{ 'send' | transloco}}</span><i class="bi bi-send-fill"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="response-container">
      <div *ngIf="displayUploadedImageTextArea" class="upload-photo-container">
        <img
          [src]="displayUploadedImageTextArea"
          alt="Uploaded Image"
          width="300"
        />
        <div class="dlt-div" (click)="onDeleteImage()">
          <i class="bi bi-x"></i>
        </div>
      </div>
      <div class="d-flex align-items-start gap-2" *ngIf="responseText">
        <div class="upload-photo-container mx-auto text-center mt-2">
          <img
            [src]="displayImageOnUserChat"
            alt="Uploaded Image"
            width="300"
          />
          <h5>{{ userMessageText }}</h5>
        </div>

        <div class="flex-grow-1 response-border-div">
          <div class="text-end">
            <i
              class="bi bi-copy"
              title="Copy to clipboard"
              (click)="copyToClipboard()"
            ></i>
          </div>
          <p #generatedResponse [innerHTML]="responseText"></p>
        </div>
      </div>
    </div>
    <div class="generator-loader-container text-center" *ngIf="isLoading">
      <div class="loader-generator mx-auto"></div>
    </div>
  </div>
</div>
