<div class="content-component px-md-5 px-sm-1 pb-5">
  <app-greeting
    [title]="'sidebar.copyright' | transloco"
    [description1]="'advertiser.des1' | transloco"
    [description2]="'advertiser.des2' | transloco"
  ></app-greeting>
  <div class="container">
    <form [formGroup]="chatForm" (ngSubmit)="sendText()" class="mb-5">
      <div
        class="input-search-container d-flex align-items-center justify-content-center flex-wrap flex-lg-nowrap position-relative"
      >
        <div
          class="d-flex align-items-center justify-content-start flex-grow-1 copyright-input"
        >
          <div class="photo-upload">
            <label
              for="file-upload"
              class="custom-file-upload px-3"
              title="Add an image (Format: png, jpeg, webp, gif)"
            >
              <svg
                class="me-2"
                xmlns="http://www.w3.org/2000/svg"
                [ngClass]="{
                  'error-text':
                    chatForm.get('file')?.invalid &&
                    (chatForm.get('file')?.touched ||
                      chatForm.get('file')?.dirty ||
                      notUploadedFile)
                }"
                viewBox="0 0 384 512"
              >
                <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path
                  d="M64 464c-8.8 0-16-7.2-16-16L48 64c0-8.8 7.2-16 16-16l160 0 0 80c0 17.7 14.3 32 32 32l80 0 0 288c0 8.8-7.2 16-16 16L64 464zM64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-293.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0L64 0zm96 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm69.2 46.9c-3-4.3-7.9-6.9-13.2-6.9s-10.2 2.6-13.2 6.9l-41.3 59.7-11.9-19.1c-2.9-4.7-8.1-7.5-13.6-7.5s-10.6 2.8-13.6 7.5l-40 64c-3.1 4.9-3.2 11.1-.4 16.2s8.2 8.2 14 8.2l48 0 32 0 40 0 72 0c6 0 11.4-3.3 14.2-8.6s2.4-11.6-1-16.5l-72-104z"
                />
              </svg>

              <span
                class="attach-file-text"
                [ngClass]="{
                  'error-text':
                    chatForm.get('file')?.invalid &&
                    (chatForm.get('file')?.touched ||
                      chatForm.get('file')?.dirty ||
                      notUploadedFile)
                }"
                >{{ "attach-file" | transloco }}</span
              >
            </label>
            <input
              type="file"
              id="file-upload"
              formControlName="file"
              accept=".png, .jpeg, .webp, .gif"
              (change)="onFileSelected($event)"
            />
          </div>
          <input
            type="text"
            [placeholder]="'productname' | transloco"
            formControlName="text"
            class="flex-grow-1"
            [ngClass]="{
              'error-place':
                chatForm.get('text')?.invalid &&
                (chatForm.get('text')?.touched ||
                  chatForm.get('text')?.dirty ||
                  notUploadedFile)
            }"
          />
        </div>

        <div class="ms-sm-2 text-center btn-mt-div">
          <button
            type="submit"
            class="content-btn mx-auto d-flex gap-2 px-4"
            [title]="'send' | transloco"
          >
            <span>{{ "send" | transloco }}</span
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
              <path
                d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480l0-83.6c0-4 1.5-7.8 4.2-10.8L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"
              />
            </svg>
          </button>
        </div>
      </div>
    </form>
    <div class="response-container">
      <div *ngIf="displayUploadedImageTextArea" class="upload-photo-container">
        <img
          [src]="displayUploadedImageTextArea"
          alt="Uploaded Image"
          width="300"
        />
        <div class="dlt-div" (click)="onDeleteImage()">
          <i class="bi bi-x"></i>
        </div>
      </div>
      <div class="align-items-start gap-2 responsed-text" *ngIf="responseText">
        <div class="upload-photo-container mx-auto text-center mt-2">
          <img
            [src]="displayImageOnUserChat"
            alt="Uploaded Image"
            width="300"
          />
          <h5>{{ userMessageText }}</h5>
        </div>

        <div class="flex-grow-1 response-border-div">
          <div class="text-end">
            <i
              class="bi bi-copy"
              title="Copy to clipboard"
              (click)="copyToClipboard()"
            ></i>
          </div>
          <p #generatedResponse [innerHTML]="responseText"></p>
        </div>
      </div>
    </div>
    <div class="generator-loader-container text-center" *ngIf="isLoading">
      <div class="loader-generator mx-auto"></div>
    </div>
  </div>
</div>
